body {
  background-color: #48dbfb;
}

#editor {
  background-color: rgb(224, 224, 224);
  height: 25vh;
}

#preview {
  background-color: rgb(224, 224, 224);
  min-height: 45vh;
}

#header {
  height: 2.5rem;
  background-color: #0aaace;
  color: white;
}

.edicion {
  width: 45rem;
}

.previsualizar {
  width: 55rem;
}

.previsualizar img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  border: none;
  background-color: transparent;
}

.center {
  vertical-align: baseline;
}

/* Marked code Style*/
blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}

p code {
  padding: 3px;
}

code {
  background: white;
  font-size: 1rem;
  font-weight: bold;
}

pre {
  display: block;
  font-size: 1rem;
  overflow: auto;
  background: white;
  padding: 30px;
  line-height: 1.2;
}

h1 {
  border-bottom: 2px solid gray;
}

h2 {
  border-bottom: 1px solid gray;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid gray;
  padding-left: 5px;
  padding-right: 5px;
}